.qu1 .qu2 .qu3  {
    
}

header {
    background-color: #ffffff;
    height: 20%;
    border: 1px solid grey;
}

main {
    background-color: #ffffff;
    height: 80%;
}

footer {
    background-color: #ffffff;
    height: 10%;
    border: 1px solid grey;
}