body {
    display: flex;
    
}

header {
    background-color: #ffffff;
    height: 20%;
    border: 1px solid grey;
    
}

h1 {
    text-align: center;
}
main {
    background-color: #ffffff;
    height: 80%;
}

footer {
    background-color: #ffffff;
    height: 10%;
    border: 1px solid grey;
}